/* =======================================================

header
ヘッダー

======================================================== */

header {
  padding: 20px 20px;
  @include mq-up(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.gNav_list {
  @include mq-up(md) {
    display: flex;
  }

  @include mq-down(md) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
  }
}

.hamburger_button {
  position: absolute;
  z-index: 100;
  top: 16px;
  right: 16px;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
}

@include mq-down(md) {
  .gNav {
    display: none;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.btn-trigger {
  position: relative;
  width: 27px;
  height: 22px;
  cursor: pointer;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #aaa;
    border-radius: 4px;
  }

  .first {
    top: 0;
  }

  .second {
    top: 10px;
  }

  .third {
    bottom: 0;
  }

  &.active {
    .first {
      transform: translateY(10px) rotate(-45deg);
    }

    .second {
      opacity: 0;
    }

    .third {
      transform: translateY(-10px) rotate(45deg);
    }
  }
}

.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}

.header_inner {
  display: flex;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
  }
}

.header_menuList {
  @include mq-up(md) {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  @include mq-down(md) {
    & + .header_menuList {
      margin-top: 20px;
    }
  }

  a {
    display: block;
    font-size: 1.6rem;
    @include mq-down(md) {
      text-align: center;
    }
  }
}

.header_logo {
  a {
    display: block;
  }
}
