/* =======================================================

top
トップページ

======================================================== */

.top_hero {
  width: 100%;
  background-image: url(../img/top/hero_image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.section01 {
  .common_block {
    display: flex;
    justify-content: space-between;
  }
}
